<aside class="sidebar">
  <div class="sidebar-section">
    <div class="sidebar-title">Menu</div>
    <div class="sidebar-item active" routerLink="/boards">
      <span class="sidebar-icon">📊</span>
      <span>Boards</span>
    </div>
    <div class="sidebar-item" routerLink="/calendar">
      <span class="sidebar-icon">📅</span>
      <span>Calendário</span>
    </div>
    <!-- <div class="sidebar-item" routerLink="/configurations">
      <span class="sidebar-icon">📅</span>
      <span>Configurações</span>
    </div> -->
  </div>
</aside>
