<aside class="sidebar">
  <div class="sidebar-section">
    <div class="sidebar-title">Menu</div>
    <div class="sidebar-item " routerLink="/boards">
      <span class="sidebar-icon"><i class="fa-brands fa-trello"></i></span>
      <span>Boards</span>
    </div>
    <div class="sidebar-item" routerLink="/calendar">
      <span class="sidebar-icon"><i class="fa-solid fa-calendar"></i></span>
      <span>Calendário</span>
    </div>
    <!-- <div class="sidebar-item" routerLink="/configurations">
      <span class="sidebar-icon">📅</span>
      <span>Configurações</span>
    </div> -->
  </div>
</aside>
